/*imported the colors ready to use the color theme with variable -name and variable-value*/

:root {
  --charcoal: #424b54ff;
  --pewter-blue: #93a8acff;
  --white: #ffffffff;
  --cameo-pink: #e2b4bdff;
  --copper-rose: #9b6a6cff;
}

/* the main font-family and colour of text on entire page*/
* color {
  color: var(--charcoal);
  font-family: "Barlow", sans-serif;
}

body {
  margin: 5px;
}

/*contains the main nav links*/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--cameo-pink);
  border: double;
}

/* these are the clickable links which point to the id of the page*/
.links {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  color: var(--charcoal);
  text-decoration: underline;
}

.projects-h h3 {
  font-size: large;
  font-family: "Barlow", sans-serif;
  background-color: var(--charcoal);
  opacity: 0.7;
}

.Projects,
img {
  width: 100%;
  height: auto;
  align-items: center;
  border: #424b54ff, var(white);
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: var(--pewter-blue);
  box-sizing: border-box;
}

#cards img {
  width: 500px;
  height: 375px;
  margin: 10px;
  border: solid var(--white) 3px;
}

/* section id about with image and text */
#About-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.myphoto {
  display: block;
  padding: 20px;
  width: 500px;
}

div #About-me,
p,
h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

#About-me,
ul,
li,
h1,
h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
}

/* the items in the skills which are li items */

ul,
li {
  text-decoration: underline;
  padding: 5px;
}

/* the first project card which will be different from the 6 others*/

#Projects img {
  object-fit: cover;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#Projects h2 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

/* the header for each individual project to display its name */
.project-h,
h3,
p {
  font-size: large;
  background-color: var(--pewter-blue);
}

/* contact details which contains the font awesome links */
#Contact {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: var(--pewter-blue);
  border: double;
}

.icon {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
}

.fa-github-alt,
.fa-linkedin,
.fa-envelope {
  color: var(--cameo-pink);
}

/* the footer with authors details */
.footer {
  background-color: var(--cameo-pink);
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  color: var(--charcoal);
  border-style: double;
}

@media screen and (max-width: 767px) {
  #About-me,
  #cards,
  #Contact {
    flex-direction: column;
    align-items: center;
  }

  .header,
  .nav-container,
  .main-container,
  .Projects,
  .project,
  .project-h,
  .footer .links {
    flex-direction: column;
    align-items: center;
  }
}
